body{
    background-image: url(./img/colorful-planets-chill-scifi-pink-4k-zs-2560x1440\ \(1\).jpg);
    width: 100%;

}

header, h2 {
    color: white;
    font-size: 30px;

}

.foto {
    width: 30%;
}

